<section class="clearfix center">
  <h3>Forgotten Your Password?</h3>

  <%= form_for @user, as: :user, url: password_path do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Reset Password', class: 'button' %>
  <% end %>
</section>
